.DS_store
.ipynb_checkpoints
*.jpg
dataset/
*Untitled.ipynb
__pycache__/
data/__pycache__/__init__.cpython-36.pyc
data/__pycache__/config.cpython-36.pyc
data/__pycache__/voc0712.cpython-36.pyc
layers/__pycache__/__init__.cpython-36.pyc
layers/__pycache__/box_utils.cpython-36.pyc
layers/functions/__pycache__/__init__.cpython-36.pyc
layers/functions/__pycache__/detection.cpython-36.pyc
layers/functions/__pycache__/prior_box.cpython-36.pyc
layers/modules/__pycache__/__init__.cpython-36.pyc
layers/modules/__pycache__/l2norm.cpython-36.pyc
layers/modules/__pycache__/multibox_loss.cpython-36.pyc
*.mp4
